@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: #FAFAF8;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem 1.25rem;
  font-weight: 500;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
}

.recipe-markup h1, .recipe-markup h2, .recipe-markup h3, .recipe-markup h4, .recipe-markup h5, .recipe-markup h6{
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin: 0.5rem 0;
}

.recipe-markup ul, .recipe-markup ol{
  list-style-position: inside;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.recipe-markup ul{
  list-style-type: disc;
}

.recipe-markup ol{
  list-style-type: auto;
}